<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Dark Room Chat</h1>
    <p class="lead">Simple chat application with a twist</p>
    <small>Built with</small>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<!--  Entry form here -->

<div class="container">
  <div class="row">

    <h2>Welcome to Dark Room chat</h2>
    <hr>
    <h4>Answer a few questions and start chatting!</h4>
    <hr>
    <form role="form" ng-submit="submit()">
      <div class="row">
        <div class="col-xs-4">Name</div>
        <div class="col-xs-4"><input type="text" ng-model="user_name" class="form-control" placeholder="Your name here" /></div>
        <div class="col-xs-4">{{errorName}}</div>
      </div>
      <div class="row">
        <div class="col-xs-4">Gender</div>
        <div class="col-xs-4">
          <div class="radio">
            <label><input type="radio" ng-model="gender" id="genderMale" value="M" checked>Male </label>
            </div><div class="radio">
            <label><input type="radio" ng-model="gender" id="genderFemale" value="F">Female </label>
          </div>
        </div>
        <div class="col-xs-4">{{errorGender}}</div>
      </div>
       <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4"><input type="submit" value="Submit" id="submit" /></div>
        <div class="col-xs-4"></div>
      </div>
    </form>
    <hr>
      

  </div>

</div>


<footer class="footer">
  <div class="container">
      <p>Koustuv Sinha |
        <a href="https://facebook.com/koustuvsinha">Facebook</a>
      </p>
  </div>
</footer>
