<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Dark Room Chat</h1>
    <p class="lead">Simple chat application with a twist</p>
    <small>Built with</small>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
          <h1 class="page-header">Lets Chat!</h1>
      <div class="row">
        <div class="well">  
          <ul class="message">
            <li ng-repeat="msg in msgs track by $index">{{msg.sender}} - {{msg.chat}}</li>
          </ul>
        </div>
        <form ng-submit="sendMsg()">
          <div class="col-xs-3">
            <input class="form-control" type="text" ng-model="chat.sender" placeholder="Anonymous"/>
          </div>
          <div class="col-xs-8">
            <input class="form-control" type="text" ng-model="chat.msg" placeholder="hi there!"/>
          </div>
          <div class="col-xs-1">
            <input type="submit" class="btn btn-primary" value="Submit"/>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Koustuv Sinha |
        <a href="https://facebook.com/koustuvsinha">Facebook</a>
      </p>
  </div>
</footer>
